absl-py
astunparse
blinker
certifi
charset-normalizer
click
colorama
Flask
flatbuffers
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
numpy
opt_einsum
optree
packaging
pillow
protobuf
Pygments
requests
rich
scipy
setuptools
six
tensorboard
tensorboard-data-server
tensorflow-cpu
termcolor
typing_extensions
urllib3
Werkzeug
wheel
wrapt
annotated-types
anyio
blinker
certifi
click
colorama
distro
Flask
groq
h11
httpcore
httpx
idna
itsdangerous
Jinja2
MarkupSafe
pydantic
pydantic_core
python-dotenv
sniffio
typing-inspection
typing_extensions 
Flask-CORS
tensorflow
numpy
Pillow
opencv-python
pandas
scikit-learn
matplotlib
gunicorn
python-dotenv
requests
joblib
streamlit
Pillow
numpy
opencv-python-headless
tensorflow